<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    
    
    <servlet>
        
        <servlet-class>Generic.Servlet_Generic</servlet-class>
        <servlet-name>web</servlet-name>
        
    </servlet>
    
    <servlet-mapping>
        
        <servlet-name>web</servlet-name>
        <url-pattern>/aks</url-pattern>
        
    </servlet-mapping>
    
    
    <servlet>
        
        <servlet-class>Generic.Servlet_Using_Interface</servlet-class>
        <servlet-name>second</servlet-name>
        
    </servlet>
    
    <servlet-mapping>
        
        <servlet-name>second</servlet-name>
        <url-pattern>/ak</url-pattern>
        
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
