/Servlet_Intro/nbproject/private/
/Servlet_Intro/build/
/Generic_Servlet/nbproject/private/
/Generic_Servlet/build/
/Https_Servlet/nbproject/private/
/Https_Servlet/build/
/MyForm/nbproject/private/
/MyForm/build/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/myForm/nbproject/private/
/myForm/build/
/Web_WelcomeList_Dispatcher/nbproject/private/
/Web_WelcomeList_Dispatcher/build/
/SendingData_Another_servlet/nbproject/private/
/SendingData_Another_servlet/build/
/Parameter_Attribute_send/nbproject/private/
/Parameter_Attribute_send/build/